.git/*
FPA-FODS
LF2023_EVT_240_CONUS.zip
LF2023_EVT_240_CONUS/*
assets/*
demo/*
gridmet_long_data.parquet
gridmet_pdsi_long_data.parquet
metdata_elevationdata.*
mtbs/*
mtbs_coords.csv
mtbs_perimeter_data.zip
mtbs_polys_plus_cover_ecoregion.gpkg
npswb_long_data.parquet
pyrome_cover_counts.csv
pyromes
us_eco_l3.zip
us_eco_l3/*